.container.main {
    padding-top: 56px;
    margin-top: 20px;

    font-family: dusha;
    border-radius: 10px 10px;
    color: #E5C685;
}

p.title {
    width:  100%;
    text-align:  center;
    font-size: 4rem;
    text-shadow: -1px -1px 0 #a99e66, 1px -2px 0 #a99e66, -1px 2px 0 #a99e66, 2px -2px 0 #a99e66, 1px 2px 0 #a99e66;
}

p.matches {
    text-align: center;
    font-size: 22px;
    color: white;
    border: 2px solid #E5C685;
    width: 83%;
    margin: 10px auto;
    border-radius: 10px 10px;
    background-color: rgba(211, 2, 8,0.9);
}

.time{
    font-size: 0.8em;
}

p.today {
    text-align:  center;
    width: 100%;
    font-size: 20px;
}

.event-container {
    display: flex;
    overflow: hidden;
    transition: 0.7s all ease;
    max-height: 100%;
    margin-bottom: 20px;
    transition: 0.7s ease-in-out all;
}

.bottom-line{
        border-bottom: 1px solid #aaa;

}

.events-title{
    text-align: center;
}


.events-title::before{
    content: 'Hide ';
}

.show-text::before{
    content: 'Show ' !important;
}


.row.events div {
    font-size: 11px;
}

.event-item {
    padding-bottom: 6px;
}

.event-icon{
    padding: 7px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
}

.event-player{
    margin: 0px 3%;
}

.ball {
    background-image: url('../../assets/ball.png');
}

.yellow-card {
    background-image: url('../../assets/yellow.png');
}

.red-card {
    background-image: url('../../assets/red.png');
}

.double-yellow-card {
    background-image: url('../../assets/double-yellow.png');
}

.player-in{
    background-image: url('../../assets/in.png');
}

.player-out{
    background-image: url('../../assets/out.svg');
}

.own-goal{
    background-image: url('../../assets/own.png');
}

.penalty{
    background-image: url('../../assets/penalty.png');
}

@media screen and (max-width: 769px){
    .container.main, .container.main .container-fluid{
        padding: 0px;
    }

    .row{
        margin: auto;
    }
    
    p.matches{
        width: 97%;
    }

    .event-container{
        display: block;
    }

    .event-item{
        margin: 0px 1%;
        width: 48%;
        padding: 0px;
    }
}


.he0 {
    max-height: 0px !important;
}